In [1]:
import pandas as pd

In [2]:
data = {
    'Order ID': [1001, 1002, 1003, 1004, 1005, 1006],
    'Product': ['Laptop', 'Mouse', 'Monitor', 'Keyboard', 'Printer', 'Laptop'],
    'Quantity': [1, 10, 2, 5, 3, 1],
    'Price': [60000, 500, 15000, 1200, 8000, 60000]
}

df = pd.DataFrame(data)
print("Step 1: Original DataFrame\n", df)

Step 1: Original DataFrame
    Order ID   Product  Quantity  Price
0      1001    Laptop         1  60000
1      1002     Mouse        10    500
2      1003   Monitor         2  15000
3      1004  Keyboard         5   1200
4      1005   Printer         3   8000
5      1006    Laptop         1  60000

In [3]:
df['Total Sale'] = df['Quantity'] * df['Price']
print("\nStep 2: DataFrame with Total Sale column\n", df)

Step 2: DataFrame with Total Sale column
    Order ID   Product  Quantity  Price  Total Sale
0      1001    Laptop         1  60000       60000
1      1002     Mouse        10    500        5000
2      1003   Monitor         2  15000       30000
3      1004  Keyboard         5   1200        6000
4      1005   Printer         3   8000       24000
5      1006    Laptop         1  60000       60000

In [4]:
filtered_df = df[df['Total Sale'] > 1000]
print("\nStep 3: Orders with Total Sale > 1000\n", filtered_df)

Step 3: Orders with Total Sale > 1000
    Order ID   Product  Quantity  Price  Total Sale
0      1001    Laptop         1  60000       60000
1      1002     Mouse        10    500        5000
2      1003   Monitor         2  15000       30000
3      1004  Keyboard         5   1200        6000
4      1005   Printer         3   8000       24000
5      1006    Laptop         1  60000       60000

In [5]:
most_sold_product = df.groupby('Product')['Quantity'].sum().idxmax()
print("\nStep 4: Most Sold Product:", most_sold_product)

Step 4: Most Sold Product: Mouse

In [6]:
df['Discount'] = df['Total Sale'].apply(lambda x: x * 0.10 if x > 20000 else x * 0.05)
print("\nStep 5: DataFrame with Discount column\n", df)

Step 5: DataFrame with Discount column
    Order ID   Product  Quantity  Price  Total Sale  Discount
0      1001    Laptop         1  60000       60000    6000.0
1      1002     Mouse        10    500        5000     250.0
2      1003   Monitor         2  15000       30000    3000.0
3      1004  Keyboard         5   1200        6000     300.0
4      1005   Printer         3   8000       24000    2400.0
5      1006    Laptop         1  60000       60000    6000.0

In [7]:
output_file = "sales_summary.xlsx"
df.to_excel(output_file, index=False)
print(f"\nStep 6: Sales summary exported to '{output_file}'")

Step 6: Sales summary exported to 'sales_summary.xlsx'