In [7]:
import pandas as pd

In [8]:
data = {
    "User_ID": [101, 102, 103, 104, 105],
    "Course_Name": [
        "Python for Data Science",
        "Python for Data Science",
        "Data Structures",
        "Python for Data Science",
        "Machine Learning"
    ],
    "Rating": [5, None, 3, 4, 5],
    "Feedback": [
        "Great course, very practical!",
        "Loved it but missed some parts",
        "Good intro to DS",
        "Well explained and detailed",
        "Excellent ML content"
    ],
    "Date": [
        "2025-08-01",
        "2025-08-05",
        "2025-08-07",
        "2025-08-10",
        "2025-08-15"
    ]
}

In [9]:
df = pd.DataFrame(data)

In [10]:
df = df.dropna(subset=["Rating"])

In [11]:
filtered_feedback = df[
    (df["Course_Name"] == "Python for Data Science") &
    (df["Rating"] >= 4)
]

In [12]:
for _, row in filtered_feedback.iterrows():
    print(f"User: {row['User_ID']} | Feedback: {row['Feedback']}")

User: 101 | Feedback: Great course, very practical!
User: 104 | Feedback: Well explained and detailed

In [13]:
import pandas as pd

In [14]:
data = {
    "Location": ["Hyderabad", "Delhi", "Mumbai", "Chennai", "Bengaluru"],
    "PM2.5": [120, 180, None, 95, 200],
    "PM10": [250, None, 180, 140, 220],
    "NO2": [70, 90, 60, None, 100],
    "SO2": [15, 20, None, 10, 25],
    "Date": ["2025-08-20", "2025-08-21", "2025-08-22", "2025-08-23", "2025-08-24"]
}

In [15]:
df = pd.DataFrame(data)

In [16]:
print("Original Data:\n", df, "\n")

Original Data:
     Location  PM2.5   PM10    NO2   SO2        Date
0  Hyderabad  120.0  250.0   70.0  15.0  2025-08-20
1      Delhi  180.0    NaN   90.0  20.0  2025-08-21
2     Mumbai    NaN  180.0   60.0   NaN  2025-08-22
3    Chennai   95.0  140.0    NaN  10.0  2025-08-23
4  Bengaluru  200.0  220.0  100.0  25.0  2025-08-24

In [17]:
df = df.fillna(method="ffill")

/tmp/ipython-input-3441110583.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df = df.fillna(method="ffill")

In [18]:
print("After Forward Fill:\n", df, "\n")

After Forward Fill:
     Location  PM2.5   PM10    NO2   SO2        Date
0  Hyderabad  120.0  250.0   70.0  15.0  2025-08-20
1      Delhi  180.0  250.0   90.0  20.0  2025-08-21
2     Mumbai  180.0  180.0   60.0  20.0  2025-08-22
3    Chennai   95.0  140.0   60.0  10.0  2025-08-23
4  Bengaluru  200.0  220.0  100.0  25.0  2025-08-24

In [19]:
polluted_days = df[(df["PM2.5"] > 150) & (df["NO2"] > 80)]

In [20]:
print("Polluted Days (PM2.5 > 150 and NO2 > 80):\n", polluted_days)

Polluted Days (PM2.5 > 150 and NO2 > 80):
     Location  PM2.5   PM10    NO2   SO2        Date
1      Delhi  180.0  250.0   90.0  20.0  2025-08-21
4  Bengaluru  200.0  220.0  100.0  25.0  2025-08-24